
.section-body{
    height: 90vh;
}
.nav-link{
    color: black;
}
.hello{
    width: 100%;
    float: left;
    padding-left: 50px;
    font-size: 40px;
    
    padding-top: 150px;
    padding-bottom: 150px;
}
.hi{
    font-size: 50px;
}
.web{
    font-size: 30px;
}
.name{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(45, 98, 148);
    font-weight: bold;
}
.navbar{
    background-color: white;
    padding: 3px;
}

@media (max-width: 575.98px){
    img{
        height: 300px;
        margin: auto;
    }
    .hello{
        padding-bottom: 50px;
        padding-top: 100px;
        padding-left: 25px;

    }


}
@media (max-width: 576px) and (max-width: 767.98px){
    img{
        height: 350px;
        margin-left: 15px;
    }
    .hello{
        padding-bottom: 50px;
        padding-top: 100px;
        padding-left: 30px;

    }

}
@media (max-width: 768px) and (max-width: 991.98px){
    img{
        margin-left: 5px;
    }
}
@media (max-width: 992px) and (max-width: 1199.98px){
    .img{
        margin-top:100px;
    }

}
@media (max-width: 1200px) {

}

